.popup-overlay {
  background: rgba($color: #363636, $alpha: 0.9);
}

.popup-content {
  position: initial !important;
}

.modal {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  width: 856px;
  margin: auto;
  background: #ffffff;
  border-radius: 16px;
  position: absolute;
  z-index: 999;
  height: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .main-tit {
    margin-bottom: 60px;
  }

  input[type="text"],
  input[type="number"],
  select {
    background: #f2f4f7;
    border-radius: 16px;
    width: 100%;
    display: block;
    border: none;
    height: 64px;
    padding: 0 20px;
    &:focus{
      outline: none;
    }
  }

  select {
    -webkit-appearance: none;
    background: #f2f4f7 url("../../../images/select-icon.svg") no-repeat center
      right 10px;
  }

  ul {
    li ~ li {
      margin-top: 24px;
    }
    span {
      font-size: 16px;
      font-weight: 500;
      display: inline-block;
      margin-bottom: 12px;
    }
    li.flexbox {
      display: grid;
      grid-template-columns: 1fr 190px;
      column-gap: 24px;
    }
  }

  button {
    width: 100%;
    max-width: 283px;
    font-size: 30px;
    font-weight: 700;
    padding: 19px 16px;
    margin: 48px 0 60px;
  }

  .text-bottom {
    margin-bottom: 32px;
  }

  .text-contact {
    line-height: 2;
  }

  .beauty-scroll {
    padding: 66px 78px;
    height: 100%;
    position: relative;
    .close {
      position: absolute;
      left: auto;
      right: 24px;
      top: 24px;
      z-index: 999;
      display: inline-block;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover {
        transform: rotate(90deg);
        transition: 0.3s ease-in-out;
      }
    }
  }
  .content{
    overflow-y: scroll;
    height: calc(100% - 117px);
    padding: 0 20px;
  }

  #partner-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f2f4f7;
  }

  #partner-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #f2f4f7;
  }

  #partner-scroll::-webkit-scrollbar-thumb {
    background-color: #444ce7;
  }
}

.text_error{
  color: #dc3545;
}

.btn_disabled{
  pointer-events: none;
  background: rgba($color: #444ce7, $alpha: 0.8);
}



@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.5) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

@media all and (max-width: 1024px) {
    .modal{
        width: 90%;
    }
    .modal #partner-scroll{
        padding: 50px 30px;
    }
    .modal .main-tit{
        margin-bottom: 35px;
    }
    .modal button{
        font-size: 18px;
    }
}

@media all and (max-width: 639px) {
    .modal {
        width: 95%;
        height: 95%;
    }
    .modal #partner-scroll{
        padding: 0 10px;
    }
    .modal .main-tit {
        margin-bottom: 25px;
    }
    .modal input[type=text], .modal input[type=number], .modal select{
        height: 44px;
        border-radius: 8px;
    }
    .modal ul li~li {
        margin-top: 15px;
    }
    .modal ul span{
        margin-bottom: 5px;
    }
    .modal button{
        margin: 35px auto;
        padding: 10px 10px;
        max-width: 80%;
    }
    .modal .text-bottom{
        margin-bottom: 30px;
    }
    .modal .text-contact, .modal .text-bottom{
        font-size: 14px;
    }
    .modal #partner-scroll .close{
        width: 25px;
    }
    .modal ul li.flexbox{
        column-gap: 10px;
    }
    .modal .beauty-scroll{
      padding: 20px 10px;
    }
    .modal .content{
      height: calc(100% - 76px);
    }
    .modal .beauty-scroll .close{
      top: 10px;
      right: 10px;
    }
}
