@import 
	'../../core/abstracts/variables';

#footer{
	background-color: getColor(background-primary);
	padding: 20px 0;
	margin-top: auto;
	@include transition(all 0.2s linear);

	.footerCopyright{
		font-size: $font-size-body;
		color: getColor(txt-primary);
	}
}